/*

	h1 {
		font-family: acumin-pro-extra-condensed, sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 36px;
		text-transform: uppercase;
		color: #282829;
	}
*/
/*use mediaquery*/

body {
	background-color: #f9e8c9;
}

h1 {
	text-align: left;
	font-family: masqualero, sans-serif;
	font-weight: 900;
	font-style: normal;
	text-transform: uppercase;
	font-size: 66px;
    margin: 45vh 0px 22px 0px;
    padding-left: 5vw;
    letter-spacing: 1px;
    text-shadow: 4px 4px white;
}

h2 {
	text-align: left;
	font-family: masqualero, sans-serif;
	font-weight: 900;
	font-style: normal;
	margin: 120px 22px 0px 2vw;
	font-size: 36px;
	text-shadow: 0.07em 0.07em white;
/*		border-right-style: solid;
	border-width: 20px;
	border-color: #f19a4a;
	border-spacing: 20px;*/
}

h3 {
	text-align: left;
	font-family: masqualero, sans-serif;
	font-weight: 700;
	font-style: italic;
	margin: 50px 0px 0px 5vw;
	font-size: 24px;
	text-decoration: underline solid white;
}

img {
	margin: 0px -10px 0px -10px;
	width: 85%;
/*	border-right-style: solid;
	border-width: 20px;
	border-color: #f19a4a;
	border-spacing: 20px;*/

}

p, ul {
	padding-left: 5vw;
	padding-right: 5vw;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 13pt;
	color: #3c3c3c;
}

ul {
	font-size: 10pt;
	margin-left: 7vw;
}

strong {
	color: #131313;
	font-weight: 600;
}

blockquote p {
	font-size: 10pt;
	margin-right: 0px;
}

blockquote {
	margin-right: 5vw;
}

@media screen and (min-width: 491px) {
	h1 {
		margin-bottom: 106px;
	}

	blockquote p {
		font-size: 11pt;
		margin-right: 0px;
		line-height: 23px;
	}

	ul {
		font-size: 11pt;
	}
}

@media screen and (min-width: 679px) {
	h1 {
		margin-bottom: 189px;
	}

	h3 {
		padding-left: 3vw;
		line-height: 15px;
	}

	p {
		padding-left: 8vw;
		padding-right: 8vw;
		line-height: 25px;
	}

	ul {
		margin-left: 10vw;
		margin-right: 10vw;
	}
}

@media screen and (min-width: 1146px) {
	h1 {
		margin-bottom: 274px;
	}

	h3 {
		padding-left: 7vw;
		line-height: 20px;
	}

	p {
		padding-left: 12vw;
		padding-right: 12vw;
		line-height: 28px;
	}

	ul {
		margin-left: 11vw;
		margin-right: 14vw;
	}
}





#toc, #back-to-top {
	display:none;
}