/*

	h1 {
		font-family: acumin-pro-extra-condensed, sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 36px;
		text-transform: uppercase;
		color: #282829;
	}
*/

body {
	background-color: #f9e8c9;
}

h1 {
	text-align: left;
	font-family: masqualero, sans-serif;
	font-weight: 900;
	font-style: normal;
	text-transform: uppercase;
	font-size: 66px;
    margin: 297px 0px 22px 0px;
    padding-left: 22px;
    letter-spacing: 1px;
    text-shadow: 4px 4px white;
}

h2 {
	text-align: left;
	font-family: masqualero, sans-serif;
	font-weight: 900;
	font-style: normal;
	margin: 120px 22px 0px 10px;
	font-size: 38px;
	text-shadow: 0.07em 0.07em white;
/*		border-right-style: solid;
	border-width: 20px;
	border-color: #f19a4a;
	border-spacing: 20px;*/
}

h3 {
	text-align: left;
	font-family: masqualero, sans-serif;
	font-weight: 700;
	font-style: italic;
	margin: 50px 0px 0px 22px;
	font-size: 24px;
	text-decoration: underline solid white;
}

img {
	margin: 0px -10px 0px -10px;
	width: 85%;
/*	border-right-style: solid;
	border-width: 20px;
	border-color: #f19a4a;
	border-spacing: 20px;*/

}

p {
	padding-left: 22px;
	padding-right: 22px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 13pt;
	color: #3c3c3c;
}

strong {
	color: #131313;
	font-weight: 600;
}

blockquote p {
	font-size: 10pt;
	margin-right: 0px;
}

blockquote {
	margin-right: 22px;
}





#toc, #back-to-top {
	display:none;
}